body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4 {
  margin: 0 0 10px;
}

p {
  margin: 0 0 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

li {
  margin-bottom: 15px;
}

.jobs .job {
  margin-bottom: 40px;
}

.job-details {
  margin-top: 10px;
  padding-left: 20px;
  list-style: disc;
}

.home-content-wrap, .job-content-wrap {
  margin-bottom: 40px;
}
